<div class="container">
  <h1>Item Form</h1>
  {{diagnostic}}
  <form (ngSubmit)="onSubmit" #itemForm="ngForm">
    <div class="form-group">
      <label for="id">ID</label>
      <input type="text" class="form-control" id="id" required [(ngModel)]="model.id" name="id">
    </div>

    <br>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="model.name" name="name">
    </div>

    <br>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="model.description" name="description">
    </div>

    <br>

    <div class="form-group">
      <label for="category">Category</label>
      <input type="text" class="form-control" id="category" required [(ngModel)]="model.category" name="category">
    </div>

    <br>

    <button type="submit" (click)="add(model);" class="btn btn-success" [disabled]="!itemForm.form.valid">Submit</button>

  </form>
</div>
